<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link media="all" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link media="all" rel="stylesheet" th:href="@{/css/admin-panel.css}" type="text/css">

    <title>Список пользователей</title>
    <link rel="icon" type="image/png" th:href="@{/img/icon-16x16.png}"/>
</head>
<body>

    <!-- Navbar(Шапка) -->
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <p class="nav_caption jsFillNavBar">
            <!-- fill_navbar.js -->
        </p>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link nav_logout" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </nav>
    <!-- Конец Navbar(Шапка) -->
    <div class="container-fluid">
        <div class="row">
            <!-- SideBarMenu (левое меню)-->
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul sec:authorize="hasRole('ROLE_ADMIN')" class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" data-toggle="tab" href="#admin-panel">
                                <span data-feather="admin"></span>
                                Admin
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#user-panel">
                                <span data-feather="user"></span>
                                User
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- Конец SideBarMenu (левое меню)-->

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 tab-content">
                <!--Контент администратора-->
                <div id="admin-panel" class="tab-pane in active">
                    <h1>Admin panel</h1>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active users-table" aria-current="page" data-toggle="tab" href="#user-table">Users
                                table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link create-user" data-toggle="tab" href="#new-user">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="nav-tabContent">
                        <!--Контент вкладки Users Table-->
                        <div class="tab-pane in active users-table" id="users-table" role="tabpanel" aria-labelledby="user-table-tab" tabindex="0">
                            <h5 class="caption">All users</h5>
                            <div class="table-container" id="table-container">
                                <div class="table-responsive">
                                    <table class="table table-striped table-sm" bgcolor="#FFFFFF">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Login</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody class="jsAllUsers">
                                            <!-- admin.js -->
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--Конец контента вкладки Users Table-->
                        <!--Контент вкладки New User-->
                        <div class="tab-pane fade create-user" id="new-user" role="tabpanel" aria-labelledby="new-user-tab" tabindex="0">
                            <h5 class="caption">Add new user</h5>
                            <div class="table-container user-container mb-3">
                                <form class="add-user-post-form">
                                    <div>
                                        <label for="firstName" class="form-label">First name</label>
                                        <input type="text" id="firstName" class="form-control" placeholder="First name" required>
                                    </div>
                                    <div>
                                        <label for="lastName" class="form-label">Last name</label>
                                        <input type="text" id="lastName" class="form-control" placeholder="Last name" required>
                                    </div>
                                    <div>
                                        <label for="age" class="form-label">Age</label>
                                        <input type="text" id="age" class="form-control" placeholder="Age" required>
                                    </div>

                                    <div>
                                        <label for="login" class="form-label">Login</label>
                                        <input type="text" id="login" class="form-control" placeholder="Login" required>
                                    </div>
                                    <div>
                                        <label for="pass" class="form-label">Password</label>
                                        <input type="password" id="pass" class="form-control" placeholder="Password" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="allRoles" class="form-label">Role</label>
                                        <select class="form-select" id="allRoles" name="selectedRolesNewUser" multiple>
                                        </select>
                                    </div>

                                    <button type="submit" class="btn btn-success btn-lg">Add new user</button>
                                </form>
                            </div>
                        </div>
                        <!--Конец контента вкладки New User-->
                    </div>
                </div>
                <!--Конец контента администратора-->
                <!--Контент пользователя-->
                <div id="user-panel" class="tab-pane fade">
                    <h1>User information-page</h1>
                    <h5 class="caption">About user</h5>
                    <div class="table-container">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm" bgcolor="#FFFFFF">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Login</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody class="jsTableCurrentUser" id="tableCurrentUser" th:data-place = "${currentUser.getId()}">
                                    <!-- user_panel.js -->
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <!--Конец контента пользователя-->
            </main>

        </div>


    </div>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/fill_navbar.js}"></script>
    <script th:src="@{/js/user_panel.js}"></script>
    <script th:src="@{/js/admin.js}"></script>

</body>
</html>