<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Данные текущего пользователя</title>
</head>
<body>

<h2>Данные текущего пользователя</h2>
<br>
<a th:href="@{/logout}">Выйти</a>
<br>

<th:block>
    <table>
        <tr>
            <td><b>ID:</b></td>
            <td th:text = "${user.getId()}"></td>
        </tr>
        <tr>
            <td><b>Имя:</b></td>
            <td th:text = "${user.getFirstName()}"></td>
        </tr>
        <tr>
            <td><b>Фамилия:</b></td>
            <td th:text = "${user.getLastName()}"></td>
        </tr>
        <tr>
            <td><b>Возраст:</b></td>
            <td th:text = "${user.getAge()}"></td>
        </tr>
        <tr>
            <td><b>Логин:</b></td>
            <td th:text = "${user.getLogin()}"></td>
        </tr>
        <tr>
            <td><b>Роли:</b></td>
            <td th:text = "${user.getRoles()}"></td>
        </tr>
    </table>
</th:block>

</body>
</html>