<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
</head>
<body>

    <h2>Добавление пользователя</h2>
    <br>

    <a th:href="@{/}">На главную</a>
    <br>

    <form th:method="post" th:action="@{/create_new_user}" th:object="${user}">
        <p>
            <label for="first_name">Введите имя: </label>
            <input type="text" th:field="${user.firstName}" id="first_name"/>
        </p>
        <p>
            <label for="last_name">Введите фамилию: </label>
            <input type="text" th:field="${user.lastName}" id="last_name"/>
        </p>
        <p>
            <label for="age">Введите возраст: </label>
            <input type="text" th:field="${user.age}" id="age"/>
        </p>
        <br>
        <input type="submit" value="Добавить пользователя"/>
    </form>


</body>
</html>